 .div1{
                position: fixed;
                margin-left: 400px;
            }
            .div2{
                font-size: 27px;
            }
           .btn {
  
}
 .tttt{
               width: 95%;
               margin: auto;
               left: 100px;
               
               height: 100px;
               top: 80px;
               
               border-style: solid;
               border-color: goldenrod;
               background-color: rgb(140, 87, 70);
                padding: 70px 50px;
                 position: absolute;
            }
            
            
            
            
           .btn {
  
 background-image: -webkit-linear-gradient(top, #453e3e, #2980b9);
  background-image: -moz-linear-gradient(top, #453e3e, #2980b9);
  background-image: -ms-linear-gradient(top, #453e3e, #2980b9);
  background-image: -o-linear-gradient(top, #453e3e, #2980b9);
  background-image: linear-gradient(to bottom, #453e3e, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  box-shadow: 4px 4px 3px #453e3e;
  font-family: Georgia;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #de5050;
  text-decoration: none;
}
.footfooter {
                  display: flex;
                  align-content: space-around;
                  justify-content: center;
                  text-decoration: none;
                font-family: 'Monteserrat', sans-serif;
                color: white;
                opacity: 0.5;
            }
            .footer{
      background-color:#664E49;
      cursor: auto;
}

 .desc{
                display: flex;
                flex-direction: column;
                justify-content:  space-around;
                align-content: space-around;
                padding: 30px;
                height: 500px;
                background-image: url("image/1img.jpg");
               background-size: 100%;
                
            }
              .he{
                color:goldenrod;
               font-family: Georgia, serif;
               font-size: 1.7rem;
            }
              
            .he{
                color:goldenrod;
               font-family: Georgia, serif;
               font-size: 1.7rem;
            }
         .navigation{
                margin: 0;
                
            } 
        

                .anchor-link{
                margin-left: 15px;
                 margin-right: 15px;
                opacity: 0.75;
                text-decoration: none;
                font-family: 'Monteserrat', sans-serif;
                color: white;
                
            }
            .anchor-link:hover{
                color: red;
            }
            .anchor-links{
    display: flex;
                padding-top: 20px;
              
                align-content: space-around;
                justify-content: center;
}
 .lorem{
                display: flex;
                flex-direction: row;
                transform: scale(1.0); 
            }
            .alig{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    
}
.text{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
   h2{
                font-family: cursive;
                font-size: 1.5rem;
                   color:ghostwhite; 
                   width: 50%;
            }
            
            
            
            
                  .bott {
  
 background-image: -webkit-linear-gradient(top, #453e3e, #2980b9);
  background-image: -moz-linear-gradient(top, #453e3e, #2980b9);
  background-image: -ms-linear-gradient(top, #453e3e, #2980b9);
  background-image: -o-linear-gradient(top, #453e3e, #2980b9);
  background-image: linear-gradient(to bottom, #453e3e, #2980b9);
 width: 60px;
  border-radius: 10px;
  box-shadow: 4px 4px 3px #453e3e;
  font-family: Georgia;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}   